body {
    align-items: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
/* Header styling */
.header{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 10px 300px;
}

.header * {
    margin: 0;
}

.logo {
    color: white;
    font-size: 24px;
}

.links {
    display: flex;
    list-style: none;
    gap: 30px;
    margin-top: 0px;
}

.links > li a {
    text-decoration: none;
    color:#e5e7eb;
    font-size: 18px;
}
/* Header styling end */


/* Content styling */
.content {
    background-color: #1f2937;
    display: flex;
    padding: 150px 300px;
}

.description {   
    margin-right: 70px;
}

.description > h1 {
    font-size: 48px;
    color: #f9faf8;
    margin-bottom: 0px;
    font-weight: 900;
}

.description > p {
    margin-top: 0px;
    color:#e5e7eb;
    font-size: 16px;
}

.content-image > img {
    height: 400px;
    width: 800px;
}

.sing-up {
    width: 150px;
    height: 50px;
    font-size: 25px;
    border-radius: 15px;
    background-color: #3882f6;
    color: white;
}
/* Content end */

/* Information start */
.information {
    padding: 0px 300px;
    align-content: center;
    background-color: white;
}
.information > h1 {
    font-size: 36px;
    text-align: center;
    color: #1f2937;
    margin: 50px 20px;
    font-weight: 900;
}

.rackets {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.card {
    padding: 30px;
    margin: 10px;
    text-align: center;
}
.card > img {
    border: 3px solid;
    border-color: #2054a7;
    border-radius: 15px;
    width: autopx;
    height: 300px;
}

.quote {
    background-color: #e5e7eb;
    padding: 60px 400px;
    text-align: center;
}

.quote > h1 {
    color: #1f2937;
    font-size: 36px italic;
    font-style: italic;
    font-weight: 300;
}

.quote > p {
    text-align: end;
    font-weight: 800;
}